*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.container{
  width: 90%;
  max-width:1350px;
  margin: auto;
}
.container2{
  width: 90%;
  max-width:1460px;
  margin: auto;
}
.container3{
  width: 90%;
  max-width:1260px;
  margin: auto;
}
body{
  background-color: black;
  font-family: sans-serif;
}